<div class="flex-container">
    <table class="table table-hover" *ngFor="let event of eventService.AvailableEvents">
        <td>
            <div class="flex-item">
                <div class="card-img-block">
                    <img class="card-img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0d2b52bb-0476-486a-a55d-fa4da4d53b6b/ddl1vuk-25676c3e-49ca-4c86-a1c2-04a1efa3c91e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMGQyYjUyYmItMDQ3Ni00ODZhLWE1NWQtZmE0ZGE0ZDUzYjZiXC9kZGwxdnVrLTI1Njc2YzNlLTQ5Y2EtNGM4Ni1hMWMyLTA0YTFlZmEzYzkxZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.2u6qBvJlJtpRdz9URM4cOMP7ZJAlETUrpsHPKwQj2fk">
                </div>
                <div class="card-bg">
                    <div class="card-title">
                        <h3>{{event.Name}}</h3>
                    </div>
                    <div class="card-desc">
                        <h5>
                          {{event.Description}}   / {{event.Location}} / {{event.EventTypeDTO.Name}}
                        </h5>
                        <br>
                        <h4>Info: {{event.UserDTO.Login}} </h4>
                    </div>
                </div>
                <div class="btn-bg">
                    <button class="btn-decor"> Read More!</button>
                </div>
            </div>
        </td>
    </table>
</div>