<app-auth></app-auth>
<main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1 class="text-center">Events 🎉</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <input (ngModelChange)="onSearchEvent(eventService.SearchEventFormData.Name)" type="text" name="Name" class="form-control" placeholder="Search for an event" aria-describedby="basic-addon2" #Name="ngModel" [(ngModel)]="eventService.SearchEventFormData.Name">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of pageOfItemsEvent">
                <div class="card">
                    <div class="view overlay" (click)="onEventDetails(item.event.Id)" [routerLink]="['/visitors-list', 'item.event.Id']">
                        <img [src]="imgUtil.getImage(item.event.ImageURI)" class="card-img-top img-fluid" alt="event image">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.event.Name}}</h4>
                        <h4 class="card-title">{{item.event.Date | date}}</h4>
                        <p class="card-text">{{item.event.EventType.Name}}</p>
                        <button *ngIf="item.event.Organizer.Email==token.UserEmail" type="button" class="btn btn-danger mb-2 mr-2 pull-right" (click)="onDelete(item.event.Id, item.event.Organizer.Email)" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        <button *ngIf="!isUserCanJoin(item.event.Id)" type="button" class="btn btn-success mb-2 mr-2 pull-right" (click)="createVisit(item.event.Id)">Join</button>
                        <button *ngIf="isUserCanJoin(item.event.Id)" disabled type="button" class="btn btn-link mb-2 pull-left"> Participation ✅</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mt-4">
                <jw-pagination class="jw-pagination" [items]="publicOwnEvents" [pageSize]="9" (changePage)="onChangePage($event)">
                </jw-pagination>
            </div>
        </div>
    </div>
</main>