 <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="Id" [value]="userService.formData.Id">
    <div class="container-fluid">
        <h2 class="form-signin-heading">Let's Join Portal</h2>
        <br/>
        <label for="FirstName" class="sr-only">First Name</label>
        <input name="FirstName" #Name="ngModel" [(ngModel)]="userService.formData.FirstName" class="form-control"placeholder="First Name">
        <br/>
        <label for="LastName" class="sr-only">Last Name</label>
        <input name="LastName" #Name="ngModel" [(ngModel)]="userService.formData.LastName" class="form-control"placeholder="Last Name">
        <br/>
        <label for="Login" class="sr-only">Login</label>
        <input name="Login" #Name="ngModel" [(ngModel)]="userService.formData.Login" class="form-control"placeholder="Login">
        <br/>
        <label for="Password" class="sr-only">Password</label>
        <input name="Password" #Name="ngModel" [(ngModel)]="userService.formData.Password" class="form-control"placeholder="Password">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
    </div>
</form>
