<nav class="navbar fixed-top">
    <div class="navbar-header">
        <div class="container">
            <a *ngIf="!this.authGuard.canActivate()" class="nav-link" href="#" (click)="socialSignIn('google')">Sign
                In</a>
            <a *ngIf="this.authGuard.canActivate()" routerLink="/allowed-event-list" class="nav-link">Events</a>
            <a *ngIf="this.authGuard.canActivate()" routerLink="/create-event" class="nav-link">Create Event</a>
            <a *ngIf="this.authGuard.canActivate()" class="nav-link" href="#" (click)="logOut()">Log out</a>
        </div>
    </div>
</nav>
