<nav class="navbar navbar-expand-custom navbar-dark">
    <a class="navbar-brand" *ngIf="this.authGuard.canActivate()" href="/allowed-event-list">{{userName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" *ngIf="!this.authGuard.canActivate()" class="nav-link" href="#" (click)="socialSignIn('google')">Sign
                    In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="this.authGuard.canActivate()" routerLink="/allowed-event-list" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="this.authGuard.canActivate()" routerLink="/create-event" class="nav-link">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="this.authGuard.canActivate()" class="nav-link" href="#" (click)="logOut()">Log out</a>
            </li>
        </ul>
    </div>
</nav>