<app-auth></app-auth>
<div class="main-content">
    <div class="text-center m-3">
        <h1 class="text-left">Events 🎉</h1>
        <div *ngFor="let item of eventService.SearchEventList">
            {{item.Name}} / {{item.Location}} / {{item.EventType.Name}}
        </div>
        <form #form="ngForm" (submit)="onSearchEvent()" autocomplete="off">
            <div class="input-group mb-3">
                <input name="Name" #Name="ngModel" [(ngModel)]="eventService.searchEventFormData.Name" class="form-control" placeholder="Search for an event" aria-describedby="basic-addon2">
            </div>
        </form>
    </div>
    <div class="card text-center m-3">
        <div class="card-body">
            <div class="paginator" *ngFor="let item of pageOfItemsEvent">
                <div class="flex-item">
                    <div class="card-body-width">
                        <div class="details-link" (click)="onEventDetails(item.data.Id)" [routerLink]="['/visitors-list', 'item.data.Id']">
                            <img class="card-img-top" [src]="config.createImgPath(item.data.ImageURI)" alt="Card image cap">
                        </div>
                        <h3 class="card-title">{{item.data.Name}}</h3>
                        <h4 class="card-text">Location: {{item.data.Location}}</h4>
                        <h6 class="card-title">Event Type: {{item.data.EventType.Name}}</h6>
                    </div>
                    <button class="btn btn-md btn-success" (click)="createVisit(item.data.Id)">Go</button>
                    <button class="btn btn-md btn-danger" (click)="onDelete(item.data.Id)">Delete</button>
                </div>
            </div>
        </div>
        <div class="card-footer pb-0 pt-3">
            <jw-pagination class="jw-pagination" [items]="itemsEvent" [pageSize]="50" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>
</div>