<app-auth></app-auth>
<h4>Create event</h4>
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="Id" [value]="eventService.formData.Id">
    <input type="hidden" name="ImageURI" [value]="eventService.formData.ImageURI">
    <input type="hidden" name="OrganizerId" [value]="eventService.formData.OrganizerId">
    <div class="flex-container">
        <div class="form-group">
            <h6>Name</h6>
            <input name="Name" #Name="ngModel" [(ngModel)]="eventService.formData.Name" class="form-control"
                placeholder="Name">
        </div>
        <div class="form-group">
            <h6>Location</h6>
            <input name="Location" #Name="ngModel" [(ngModel)]="eventService.formData.Location" class="form-control"
                placeholder="Location">
        </div>
        <div class="form-group">
            <h6>Description</h6>
            <input name="Description" #Name="ngModel" [(ngModel)]="eventService.formData.Description"
                class="form-control" placeholder="Description">
        </div>
        <div class="form-group">
            <h6>Category</h6>
            <select name="EventTypeId" #Name="ngModel" [(ngModel)]="eventService.formData.EventTypeId"
                class="form-control">
                <option *ngFor="let type of eventTypes" [ngValue]=type.Id>{{type.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <h6>Upload Promo</h6>
            <app-upload-img (onUploadFinished)="uploadFinished($event)"></app-upload-img>
        </div>
    </div>
    <div>
        <button class="btn btn-info btn-lg btn-block" type="submit">Create</button>
    </div>
</form>
