<app-auth></app-auth>
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1 class="text-center">Create event ✨</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4 text-center">
                <h2>Tell us about your awesome event 🐙</h2>
                <h4>Don't worry you can change this info later</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4 text-center">
                <form #form="ngForm" (submit)="onSubmit(file.files)" autocomplete="off">
                    <input type="hidden" name="Id" [value]="eventService.FormData.Id">
                    <input type="hidden" name="ImageURI" [value]="eventService.FormData.ImageURI">
                    <input type="hidden" name="OrganizerId" [value]="eventService.FormData.OrganizerId">
                    <div class="mb-4">
                        <mat-datepicker-toggle class="pull-left mr-2" matSuffix [for]="Date"></mat-datepicker-toggle>
                        <div class="row">
                            <input [min]="config.minDate" class="form-control col" matInput [matDatepicker]="Date" name="Date" #Name="ngModel" [(ngModel)]="eventService.FormData.Date" placeholder="Choose a date">
                        </div>
                        <mat-datepicker #Date></mat-datepicker>
                    </div>
                    <input class="form-control mb-4" name="Name" #Name="ngModel" [(ngModel)]="eventService.FormData.Name" placeholder="Name" maxlength="23" required>
                    <input class="form-control mb-4" name="Location" #Name="ngModel" [(ngModel)]="eventService.FormData.Location" placeholder="Location" maxlength="40" required>
                    <select class="form-control mb-4" name="EventTypeId" #Name="ngModel" [(ngModel)]="eventService.FormData.EventTypeId" required>
                        <option *ngFor="let type of config.eventTypes" [ngValue]=type.Id>{{type.Name}}</option>
                    </select>
                    <textarea class="form-control mb-4" name="Description" #Name="ngModel" [(ngModel)]="eventService.FormData.Description" placeholder="Provide short info about event" required rows="8" cols="50"></textarea>
                    <input type="file" accept="image/jpeg,image/png,image/gif" #file placeholder="Choose file" style="display:none;" multiple>
                    <button type="button" class="btn btn-primary btn-sm pull-left" (click)="file.click()">Upload image here</button>
                    <button class="btn btn-md btn-success pull-right" [disabled]="form.invalid" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>