body {
    background-color: rgba(204, 237, 238, 0.164);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.3em;
    background: rgb(198, 164, 221);
    background: linear-gradient(90deg, rgba(147, 17, 233, 0.897) 0%, rgba(253, 29, 29, 0.7010154403558299) 50%, rgba(252, 176, 69, 0.8606793059020483) 100%);
}

.card-img-top {
    padding: 15px;
    align-self: center;
    border-radius: 20px;
    max-width: auto;
    min-height: 250px;
    max-height: 200px;
}

.create-form {
    margin: 0 .5em;
    padding: 5%;
    background: rgba(240, 230, 230, 0.753);
    border-radius: 8px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(226, 19, 201, 0.6870098381149334) 0%, rgba(236, 245, 83, 0.7710434515603116) 35%, rgba(0, 212, 255, 1) 100%);
    width: auto;
    height: auto;
    justify-content: space-between;
}

:after {
    content: "";
    flex: auto;
}

.paginator {
    margin-bottom: 2%;
    background: rgba(240, 230, 230, 0.753);
    border-radius: 5px;
    margin: 10px;
}

.card-body-width {
    width: 18rem;
}

.flex-item {
    margin-bottom: 1rem;
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: 15%;
    min-height: 100%;
    width: 100%;
    align-content: space-around;
    box-sizing: border-box;
}

.card-text {
    font-weight: lighter;
    font-size: 1em;
}

.navbar {
    background-color: #333;
}

.nav-link {
    color: #e9b4e4;
}

.main-content {
    margin-top: 80px;
}

.btn-md {
    margin: 1%;
}

.white-details {
    background: rgba(240, 230, 230, 0.753);
}

@media (min-width: 370px) {
    body {
        background-color: rgba(210, 204, 238, 0.164);
    }
}

@media (min-width: 500px) {}

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}