    body {
        font-family: Lato;
        max-width: 80%;
        max-height: 80%;
        background-color: rgba(204, 237, 238, 0.164);
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: auto;
        font-size: 1.7em;
        background: linear-gradient(90deg, rgba(147, 17, 233, 0.897) 0%, rgba(253, 29, 29, 0.7010154403558299) 50%, rgba(252, 176, 69, 0.8606793059020483) 100%);
    }
    
    .create-form {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;
        background: rgba(240, 230, 230, 0.753);
        border-radius: 8px;
    }
    
    .paginator {
        background: rgba(240, 230, 230, 0.753);
        border-radius: 4%;
        margin: 0.7rem;
    }
    
    .card-img-top {
        border-top-right-radius: 4%;
        border-top-left-radius: 4%;
        max-width: auto;
        min-height: 280px;
        max-height: 170px;
        margin-bottom: 4%;
    }
    
    .card-body {
        flex-wrap: wrap;
        justify-content: space-between;
        background: linear-gradient(80deg, rgba(255, 179, 246, 0.849) 0%, rgba(243, 236, 199, 0.808) 50%, rgba(193, 245, 255, 0.705) 100%);
    }
    
    .card-body::after {
        content: "";
        flex: 1 1 40%;
    }
    
    .card-body-size {
        width: 17rem;
    }
    
    .card-btn {
        margin-right: 5%;
        margin-bottom: 2%;
        text-align: center;
        float: right;
    }
    
    .card-title {
        text-align: left;
        margin: 4%;
    }
    
    .btn-md {
        margin: 3%;
    }
    
    .white-details {
        background: rgba(240, 230, 230, 0.753);
    }
    
    .card-edit {
        padding: 2%;
        background: linear-gradient(80deg, rgba(255, 179, 246, 0.849) 0%, rgba(243, 236, 199, 0.808) 50%, rgba(193, 245, 255, 0.705) 100%);
    }
    
    .img-edit {
        width: 500px;
        height: auto;
    }
    
    .col-edit {
        margin-right: 3%;
    }
    
    .btn-edit {
        margin-top: 10%;
    }
    
    .navbar {
        background-color: rgba(51, 51, 51, 0.774);
    }
    
    .card-title {
        font-family: Lato;
    }
    
    @media (min-width:1200px) {
        .navbar-expand-custom {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        .navbar-expand-custom .navbar-nav {
            flex-direction: row;
        }
        .navbar-expand-custom .navbar-nav .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
        }
        .navbar-expand-custom .navbar-collapse {
            display: flex!important;
        }
        .navbar-expand-custom .navbar-toggler {
            display: none;
        }
    }
    
    @media (min-width: 1025px) and (max-width: 1280px) {}
    
    @media (min-width: 768px) and (max-width: 1024px) {
        body {
            max-width: 80%;
            max-height: 80%;
            background-color: rgba(204, 237, 238, 0.164);
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: auto;
            font-size: 3em;
            background: linear-gradient(90deg, rgba(147, 17, 233, 0.897) 0%, rgba(253, 29, 29, 0.7010154403558299) 50%, rgba(252, 176, 69, 0.8606793059020483) 100%);
        }
        .paginator {
            background: rgba(240, 230, 230, 0.753);
            border-radius: 5px;
            margin: 0.7rem;
        }
        .card-img-top {
            padding: 5%;
            border-radius: 7%;
            max-width: auto;
            min-height: 260px;
            max-height: 170px;
        }
        .card-body {
            flex-wrap: wrap;
            justify-content: space-between;
            background: linear-gradient(90deg, rgba(226, 19, 201, 0.6870098381149334) 0%, rgba(236, 245, 83, 0.7710434515603116) 35%, rgba(0, 212, 255, 1) 100%);
        }
        .card-body::after {
            content: "";
            flex: 1 1 40%;
        }
        .card-body-size {
            width: 17rem;
        }
        .card-btn {
            width: 25%;
            margin-bottom: 1rem;
            min-height: 100%;
            width: 100%;
            text-align: center;
        }
        .card-text {
            font-weight: lighter;
        }
        .create-form {
            padding-top: 3%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 2%;
            background: rgba(240, 230, 230, 0.753);
            border-radius: 8px;
        }
        .btn-md {
            margin: 1%;
        }
        .white-details {
            background: rgba(240, 230, 230, 0.753);
        }
    }
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .img-edit {
            width: 500px;
            height: 550px;
        }
    }
    /*iPhone X, 6,7,8*/
    
    @media (min-width: 375px) and (max-width: 390px) {
        .img-edit {
            width: 200px;
            height: 150px;
        }
        body {
            font-family: Lato;
            margin-bottom: auto;
            font-size: 1em;
            background: rgb(63, 94, 251);
            background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        }
        .card-body-size {
            width: 17rem;
        }
        .card-img-top {
            margin-left: auto;
        }
        .m-3 {
            margin-right: -1.3rem!important;
            margin-left: -0.6rem!important;
        }
        .navbar {
            padding-right: 2rem;
            margin-right: -15%;
            margin-left: -13%;
        }
        .form-group {
            margin-bottom: 1.7rem;
        }
        .paginator {            
            margin: 0.4rem;
        }
        .create-form {
            padding-top: 10%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 23%;
            background: rgba(240, 230, 230, 0.753);
            border-radius: 8px;
        }
        .md-form {
            margin-bottom: 7%;
        }
        .col{
            display: flex; 
            flex-direction: column;
        }
    }