/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding: 20px;
    margin-left: 40px;
    margin-right: 20px;
}
.flex-container {
    display: flex;
    justify-content: center;
  }
.flex-item{
    margin-left: 10px;
    margin-bottom: 20px;
}
.footer{
    background-color:#4392e2;
    height: 1000%;
    width: 100%;
    display: flex;
}
.footer-container{     
    min-height: 35px;
    flex-shrink:0; 
}
.card-img-block{

    min-width: 150px;
    min-height: 66px;
}
.card-img{
   height: 70%;
   width: 70%;
}
