<app-auth></app-auth>
<div class="event-nav">
    <h4>Events</h4>
    <a onclick="" href="#" class="btn btn-sm btn-info">Create</a>
    <input type="text" placeholder="Search by name...">
    <div class="card text-center m-3">
        <div class="card-body">
            <div *ngFor="let item of pageOfItemsEvent">
                {{item.data.Name}} / {{item.data.Location}} / {{item.data.Descriprion}}
                <a onclick="" href="#">Details</a>
            </div>
        </div>
        <div class="card-footer pb-0 pt-3">
            <jw-pagination [items]="itemsEvent" (changePage)="onChangePage1($event)"></jw-pagination>
        </div>
    </div>
</div>
