<app-auth></app-auth>
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1 class="text-center">Events 🎉</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of pageOfItemsEvent">
                <div class="card">
                    <div class="view overlay">
                        <img [src]="imgUtil.createImgPath(item.data.ImageURI)" class="card-img-top" alt="event image">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.data.Name}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mt-4">
                <jw-pagination class="jw-pagination" [items]="publicEvents" [pageSize]="9" (changePage)="onChangePage($event)">
                </jw-pagination>
            </div>
        </div>
    </div>
</div>