<app-auth></app-auth>
<h3>Events:</h3>
<div *ngFor="let item of pageOfItemsEvent">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="config.createImgPath(item.data.ImageURI)" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.data.Name}}</h5>
            <p class="card-text">{{item.data.Location}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <br>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
<div class="card-footer pb-0 pt-3">
    <jw-pagination [items]="itemsEvent" [pageSize]="10" (changePage)="onChangePage($event)"></jw-pagination>
</div>