<app-auth></app-auth>
<div class="mt-5">
    <div class="container" >
        <div class="row" *ngIf="tableMode; else edit">
            <div class="col-md-12 mb-4">
                <div class="row pr-lg-5">
                    <div class="col-md-5 mb-4">
                        <div class="view">
                            <img [src]="config.createImgPath(eventEdit.ImageURI)" class="img-fluid rounded" alt="event image">
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h3 class="font-weight-bold mr-5">{{eventEdit.Name}}</h3>
                        <div class="col-md-13">
                            <p class="text-justify">{{eventEdit.Description}}</p>
                            <p>{{item?.Location}}</p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-rounded btn-md mr-2" (click)="editEvent(eventEdit)">Edit</button>

                    <!-- <div class="col-md-1 mb-4" *ngIf="item.Organizer.Token==token.Message; else editDisallowed">
                        <button type="button" class="btn btn-primary btn-rounded btn-md mr-2" (click)="editEvent(item)">Edit</button>
                        <ng-template #editDisallowed>
                            <button disabled type="button" class="btn btn-primary btn-rounded btn-md mr-2" (click)="editEvent(item)">Edit</button>
                        </ng-template>
                    </div> -->
                    <div class="col-md-7 mb-4">
                    </div>
                </div>
                <!-- <ng-container *ngIf="isVisitorsExists==true; then eventVisitorsList; else emptyVisitorsList">
                </ng-container>
                <ng-template #eventVisitorsList>
                    <h4>Participants:</h4>
                    <div class="ml-4" *ngFor="let item of pageOfItemsEvent">
                        <div>
                            <p>{{item.data.User.Name}} - {{item.data.User.Email}}</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="mx-auto mt-4">
                            <jw-pagination class="jw-pagination" [items]="visitEvent" [pageSize]="5" (changePage)="onChangePage($event)">
                            </jw-pagination>
                        </div>
                    </div>
                </ng-template>
                <ng-template #emptyVisitorsList>
                    <div>
                        <h4>There are no participants.</h4>
                    </div>
                </ng-template> -->
            </div>
        </div>
    </div>
</div>

<ng-template #edit>
    <input type="hidden" [(ngModel)]="eventView.Id" class="form-control">
    <input type="hidden" [(ngModel)]="eventView.ImageURI" class="form-control">
    <input type="hidden" [(ngModel)]="eventView.OrganizerId" class="form-control">
    <div class="mb-4">
        <label for="eventView.Name">Name</label>
        <input type="text" [(ngModel)]="eventView.Name" class="form-control form-control-lg">
    </div>
    <div class="mb-4">
        <label for="eventView.Location">Location</label>
        <input type="text" [(ngModel)]="eventView.Location" class="form-control form-control-lg">
    </div>
    <div class="mb-4">
        <label for="eventView.Description">Description</label>
        <textarea type="text" [(ngModel)]="eventView.Description" class="form-control form-control-lg" rows="12" cols="50"></textarea>
    </div>
    <div class="mb-4">
        <label for="eventView.Name">Event Type</label>
        <select name="EventTypeId" #Name="ngModel" [(ngModel)]="eventView.EventTypeId" class="form-control">
                    <option *ngFor="let type of config.eventTypes" [ngValue]=type.Id>{{type.Name}}</option>
                </select>
    </div>
    <div class="mb-4">
        <mat-datepicker-toggle class="pull-left mr-2" matSuffix [for]="Date"></mat-datepicker-toggle>
        <input [min]="config.minDate" class="form-control col" matInput [matDatepicker]="Date" name="Date" #Name="ngModel" [(ngModel)]="eventView.Date" placeholder="Choose a date">
        <mat-datepicker #Date></mat-datepicker>
    </div>
    <div class="mb-4">
        <app-upload-img (onUploadFinished)="uploadFinished($event)"></app-upload-img>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-lg btn-warning mb-2 mr-2 pull-right" />
        <input type="button" value="Save" (click)="save()" class="btn btn-lg btn-success mb-2 mr-2 pull-right" />
    </div>
</ng-template>