<app-auth></app-auth>
<div class="main-content">
    <div class="white-details rounded">
        <table class="table">
            <div *ngIf="tableMode; else edit">
                <tr *ngFor="let item of eventService.EventByIdList">
                    <div class="inline">
                        <img class="img-details" [src]="config.createImgPath(item.ImageURI)" class="rounded">
                    </div>
                    <div class="inline">
                        {{item?.Name}}
                    </div>
                    <div class="inline">
                        <button class="btn btn-sm btn-primary" (click)="editEvent(item)">Edit</button>
                    </div>
                    <div class="details-description">
                        Description: {{item?.Description}}
                    </div>
                    <div class="details-location">
                        Location: {{item?.Location}}
                    </div>
                </tr>
            </div>
        </table>
        <ng-template #edit>
            <td><input type="hidden" [(ngModel)]="eventView.Id" class="form-control"></td>
            <td><input type="hidden" [(ngModel)]="eventView.ImageURI" class="form-control"></td>
            <td><input type="hidden" [(ngModel)]="eventView.OrganizerId" class="form-control"></td>
            <td>
                <input type="text" [(ngModel)]="eventView.Name" class="form-control" />
            </td>
            <td>
                <input type="text" [(ngModel)]="eventView.Location" class="form-control" />
            </td>
            <td>
                <input type="text" [(ngModel)]="eventView.Description" class="form-control" />
            </td>
            <td>
                <select name="EventTypeId" #Name="ngModel" [(ngModel)]="eventView.EventTypeId" class="form-control">
                    <option *ngFor="let type of config.eventTypes" [ngValue]=type.Id>{{type.Name}}</option>
                </select>
            </td>
            <td>
                <input type="text" [(ngModel)]="eventView.Description" class="form-control" />
            </td>
            <td>
                <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
                <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
            </td>
        </ng-template>
        <div class="visitors">
            <h4 *ngIf="visitService.VisitorsList!=null">Visitors:</h4>
            <h4 *ngFor="let item of visitService.VisitorsList">
                {{item.User.Name}}</h4>
        </div>
    </div>
</div>